


<div id="fullpage">
    <div class="section">
      <div id = "main-label">
        <h1> <span class = "label label-default">MAPkicker</span> </h1>
          <%= link_to "Войти", login_path, class: "btn btn-default pull-left btn-material-teal login-button" %>
          <%= link_to "Создать аккаунт", new_user_path, class: "btn btn-default pull-left login-button" %>
      </div>
          <%= image_tag 'map.png', class: "map-label" %>
</div>