


<div id="fullpage">
    <div class="section">
      <div id = "main-label">
        <h1> <span class = "label label-default">Register</span> </h1>
          <%= link_to "Login", login_path, class: "btn btn-default pull-left btn-material-teal login-button" %>
          <%= link_to "Create account", new_user_path, class: "btn btn-default pull-left btn-material-orange login-button" %>
        <h1> <span class = "label label-default label-explore">Explore</span> </h1>
        <h1> <span class = "label label-default label-material-blue ">Enjoy</span> </h1>

      </div>
          <%= image_tag 'map.png', class: "map-label" %>
    
</div>