


<div id="fullpage">
    <div class="section">
      <h1>Register</h1>

        <%= link_to "Login", login_path, class: "btn btn-default pull-right" %>
        <%= link_to "Create account", new_user_path, class: "btn btn-default pull-right" %>

     

    </div>
    <div class="section">
      <h1>Explore</h1>
    </div>
    <div class="section">
      <h1>Capture</h1>
    </div>
    <div class="section">
      <h1>Enjoy</h1>
    </div>
</div>