<% unless @notifications.empty? %>
  <% @notifications.each do |n| %>
    <ul class="list-group">
      <li class="list-group-item new-item" data-id = "<%= n.id %>"> <%= n.message %> </li>
    </ul>
  <% end %>
<% else %>
  No notifications
<% end %>