<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= render partial: "user_info" %>
    </div>
  </div>
</div>


<!-- Form modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class = "form-group">
          <%= render partial: "places/form", locals: {place: @place } %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Place modal -->
<div class="modal fade" id="place-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="place-modal modal-body" id = "place-content">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id = "map" data-user = "<%= init_data %>" style="width: 100%; height: 768px;">
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=init"type="text/javascript"></script>
