// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-panel {
/* unvisited link */
  a:link {
      color: black;
  }

  /* visited link */
  a:visited {
      color: black;
  }

  /* mouse over link */
  a:hover {
      color: black;
  }

  /* selected link */
  a:active {
      color: black;
  }

  .btn-i {
    color: white;
  }


  ul {
      list-style-type: none;
  }

  .new-item {
    background-color: grey;
    color: white;
    padding: 5px;
  }


}

#map {
  margin-top: -25px;
}

#user-label {
/* unvisited link */
  a:link {
      color: white;
  }

  /* visited link */
  a:visited {
      color: white;
  }

  /* mouse over link */
  a:hover {
      color: white;
  }

  /* selected link */
  a:active {
      color: white;
  }

  .btn-i {
    color: white;
  }
  color: white;
  font-weight: 600;
}

#new-user-box {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20%;
}
