// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-panel {
/* unvisited link */
  a:link {
      color: black;
  }

  /* visited link */
  a:visited {
      color: black;
  }

  /* mouse over link */
  a:hover {
      color: black;
  }

  /* selected link */
  a:active {
      color: black;
  }
}

#map {
  margin-top: -25px;
}

#user-label {
  background-color: #e8f5e9;
  color: black;
  padding: 5px;
}